a,
a:visited,
a:active {
  color: rgb(43, 68, 54);
}

a.ref {
  text-decoration: none;
}

address {
  font-size: max(2vh, 1.1em);
  font-style: normal;
}

body {
  font-family: "Source Serif Pro", serif;
}

h1 {
  font-size: max(4.4vh, 2.42em);
  margin: 40px 0 0 0;
}

h3 {
  font-size: max(2.6vh, 1.43em);
  margin: 15px 0 6px 0;
}

p {
  font-size: max(2.4vh, 1.32em);
  margin: 5px 0 12px 0;
  text-align: justify;
}

nav {
  text-align: right;
  font-size: max(2.2vh, 1.21em);
  margin: 0 25px 0 0;
}

nav button {
  background: none !important;
  border: none;
  color: rgb(43, 68, 54);
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  padding: 0 !important;
}

ul {
  list-style-type: square;
  font-size: max(2.4vh, 1.32em);
  margin: 12px 0 16px 0;
}

li {
  margin: 4px 0 4px 0;
}

span.author {
  font-weight: bold;
}

#content {
  overflow-x: hidden;
  margin: 0 12px 0 12px;
}

#main {
  max-width: 1010px;
  margin: 0 auto;
  text-align: center;
}

#title {
  margin: 0 0 10px 0;
}

.faint {
  color: rgb(102, 107, 104);
  font-size: 92%;
}

.icon {
  font-family: HelveticaNeue-CondensedBold, Futura-Medium, -apple-system,
    "Arial Rounded MT Bold", system-ui, Ubuntu, sans-serif, "Arial Unicode MS",
    "Zapf Dingbats", "Segoe UI Emoji", "Segoe UI Symbol", Noto Color Emoji,
    NotoColorEmoji, EmojiSymbols, Symbola, Noto, "Android Emoji", AndroidEmoji,
    "lucida grande", tahoma, verdana, arial, AppleColorEmoji,
    "Apple Color Emoji";
  font-size: 102%;
}

.slide {
  flex: 1 1 auto;
  float: left;
  margin: 0px;
  padding: 0px;
  width: 50%;
}

.slide-container {
  clear: both;
  display: flex;
  width: 200%;
  height: 100%;
  position: relative;
  left: 0;

  -webkit-transition: left 1.2s;
  -moz-transition: left 1.2s;
  -o-transition: left 1.2s;
  transition: left 1.2s;
}

.page {
  /* background: rgb(226, 218, 173); */
  /* background: rgb(230, 233, 224); */
  background-image: linear-gradient(
    rgb(230, 233, 224, 0.6),
    rgb(230, 233, 224, 0.7),
    rgb(230, 233, 224, 1)
  );
  border-radius: 12px;
  margin: 8px;
  padding: 12px 40px 12px 40px;
  text-align: left;
  height: inherit;
  min-height: 200px;
}
